@import "tailwindcss";
@tailwind utilities;

:root {
  --background-color: white;
  --text-color: #0f172a;
  --border-color: #e5e7eb;
  --primary-color: #1e293b;
  --primary-text: white;
  --secondary-color: #f1f5f9;
  --secondary-text: #1e293b;
  --muted-color: #f1f5f9;
  --muted-text: #64748b;
  --accent-color: #f1f5f9;
  --accent-text: #1e293b;
  --destructive-color: #ef4444;
  --destructive-text: white;
  --border-radius: 0.5rem;
}

.dark {
  --background-color: #0f172a;
  --text-color: #f8fafc;
  --border-color: #27272a;
  --primary-color: #f8fafc;
  --primary-text: #0f172a;
  --secondary-color: #1e293b;
  --secondary-text: #f8fafc;
  --muted-color: #1e293b;
  --muted-text: #94a3b8;
  --accent-color: #1e293b;
  --accent-text: #f8fafc;
  --destructive-color: #7f1d1d;
  --destructive-text: #f8fafc;
}

* {
  border-color: var(--border-color);
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}
